@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-top: 40px;
}
table{
    width: 100%;
}
td{
    padding: 20px 15px 20px 15px;}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input:focus{
    box-shadow: 0 0 8px 0 #eeb634;
}
.botones{
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
button{
    border: none;
    background: none;
}
button input{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #eba80d;
    color: white;
    font-weight: bold;
}
button:hover input{
    background-color: #eeb634;
    cursor: pointer;
}
td label{
    margin-right: 20px;
}